
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form action='/bookmarks' method='POST'>
  Url:
  <input type ='text' name ='url'/>
    Title:
  <input type ='text' name ='title'/>
  <input type ='submit' value ='Add bookmark'/>
</form>
